/* ----- General Styling ----- */

body {
    font-family: Arial, sans-serif;
}

.container, #latest_works, #bottom_contentd, #download {
    margin: auto;
    width: 1000px;
}

.bold_text {
    font-weight: bold;
}

.blue_text {
    color: #960089;
    font-size: 15px;
}

/* ----- General Styling ----- */

/* ----- Header Styling ----- */

#header {
    background: #e8ebf1;
    height: 150px;
}

h1 {
    float: left;
    margin-top: 37px;
}

h1 a {
    background: url(../images/RGUlogo.png) no-repeat;
    display: block;
    height: 75px;
    text-indent: -9999px;
    width: 310px;
}

/* ----- Header Styling ----- */

/* ----- Main Navigation Styling ----- */

#main_menu {
    float: right;
    margin-top: 54px;
}
#searchBar {
    float: right;
    margin: 25px 0 10px 0;
}

.navList {
    float: left;
    margin: 0 14px;
}

.main_menu_first {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 8px;
    text-transform: uppercase;
}

.main_menu_first:hover {
    border-top: 5px solid #960089;
}

.with_dropDown {
    position: relative;
}

.with_dropDown li a {
    display: block;
}

.with_dropDown ul {
    background: #fff;
    border-bottom: 5px solid #960089;
    padding: 12px 0;
    position: absolute;
    top: 24px;
    visibility: hidden;
    width: 197px;
}

.navList:hover.navList ul {
    visibility: visible;
}

.with_dropDown .main_menu_first {
    background: url(../images/arrow_down.png) no-repeat 92%;
    padding-right: 23px;
}

.with_dropDown:hover .main_menu_first {
    background: #fff url(../images/arrow_down.png) no-repeat 92%;
    border-top: 5px solid #960089;
    color: #960089;
}

.second_list {
    margin: 0 5px;
    padding: 10px;
}

.second_list_border {
    border-bottom: 1px solid #e7e7e7;
}

.main_menu_second {
    color: #000;
    font-size: 13px;
    text-transform: capitalize;
}

.main_menu_second:hover {
    color: #960089;
}

.main_current {
    border-top: 5px solid #960089;
}

/* ----- Main Navigation Styling ----- */
/* ----- Main content for courses --- */
#p {
    border-bottom: 6px solid #960089;
    background-color: #b4bac5;
}

.courses {

    height: 215px;
    width: 253px;
    float: left;
    font-size: 13px;
    margin: 15px;
    padding: 25px 20px 12px 26px;
    background-color: #960089;
}

.courses  h2 {
    font-size: 25px;
    font-weight: bold;
    height: 335px;
    padding:25px 0 0 0;
    color: white;
    text-align: right;
}

.courses  p {
    color: #363636;
    line-height: 20px;
    margin-bottom: 22px;
}

.courses  a {
    color: #960089;
}

.courses  a img {
    margin: 0 8px 1px 0;
}

.courses  a:hover {
    text-decoration: underline;
}





/* ----- Slideshow Styling ----- */

#slideshow_area {
    background: #960089 url(../images/banner_shadow.png) repeat-x;
    padding: 19px 0 28px 0;
    margin-left: auto;
    margin-right: auto;
}

#mid_content {
    border-bottom: 1px solid #ffffff;
    background: #ffffff;
    height: 300px;
}

#slideshow_pagination {
    margin: 10px auto;
    width: 160px;
}

#slideshow_pagination li {
    float: left;
    margin: 0 9px;
}

#slideshow_pagination a {
    background: url(../images/grey_button.png) no-repeat;
    display: block;
    height: 14px;
    width: 14px;
}

#slideshow_pagination a.current {
    background: url(../images/white_button.png) no-repeat;
}

/* ----- Slideshow Styling ----- */

/* ----- Home Mid Content Styling ----- */

.mid_content_info {
    float: left;
    font-size: 13px;
    margin-top: 60px;
    width: 220px;
}

.mid_content_info h2 {
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    margin-bottom: 15px;
    padding: 12px 0 0 59px;
}

.mid_content_info p {
    color: #363636;
    line-height: 20px;
    margin-bottom: 22px;
}

.mid_content_info a {
    color: #960089;
}

.mid_content_info a img {
    margin: 0 8px 1px 0;
}

.mid_content_info a:hover {
    text-decoration: underline;
}

.mid_content_space {
    margin-right: 40px;
}

#clean {
    background: url(../images/people_icon.png) no-repeat left;
    border: #960089;
}

#responsive {
    background: url(../images/people_icon.png) no-repeat left;
    border: #960089;
}

#fully {
    background: url(../images/people_icon.png) no-repeat left;
    border: #960089;
}

#ready {
    background: url(../images/people_icon.png) no-repeat left;
    border: #960089;
}

#latest_works {
    clear: left;
}

#latest_works h3 {
    background: url(../images/cursor_icon.png) no-repeat left;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 16px;
    margin: 19px 0 15px 0;
    padding: 8px 0 0 38px;
}

#carousel_nav {
    float: right;
    margin-top: 20px;
}

#carousel_nav a {
    margin-left: 6px;
}

#carousel_wrapper {
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
    clear: left;
    height: 220px;
}

#carousel_wrapper li {
    float: left;
    margin: 30px 15px;
}

/* ----- Carousel and Portfolio Styling ----- */

#carousel_wrapper li, #portfolio_list li {
    height: 160px;
    position: relative;
    width: 220px;
}

#carousel_wrapper li a img, #portfolio_list li a img {
    bottom: 0;
    position: absolute;
    visibility: hidden;
}

#carousel_wrapper li:hover a img, #portfolio_list li:hover a img {
    visibility: visible;
}


#events {
    margin: 19px 0 19px 0;
    //padding: 30px;
    float: right;
    width: 440px;
}
#tables {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 440px;
}

#tables td, th  {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tables a {
    background-color: #960089;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-top: 15px;
}

#tables tr:nth-child(even) {
    background-color: #dddddd;
}
#rightSideDiv {
    text-align: inherit;
    clear: left;
    width: 450px;
}
.rightImage {
    width:400px;
    height:400px;
    border: medium #960089"
}

#rightSideDiv h3 {
    background: url(../images/speechcloud_icon.png) no-repeat left;
    font-size: 15px;
    font-weight: bold;
    height: 18px;
    margin: 19px 0 15px 0;
    padding: 5px 0 0 38px;
}

#rightSideDiv p {
    color: #363636;
    font-size: 14px;
    line-height: 24px;
}

.Right_name {
    font-style: italic;
    font-weight: bold;
}

#AboutUs {
    float: right;
    clear: right;
    width: 400px;

}

#AboutUs h3 {
    color: #960089;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

#AboutUs ul {
    background: #e8ebf1;
    height: 200px;
    width: 480px;
}

#twitter {
    margin-top: 15px;
    clear: left;
    width: 560px;
    background: #ff6af8;

}

#download {
    background: #e8fcfe;
    border: 1px solid #960089;
    clear: both;
    height: 78px;
    padding: 30px 30px;
    width: 940px;
}

#download p {
    color: #363636;
    float: left;
    font-size: 16px;
    line-height: 26px;
    width: 608px;
}

#download a {
    background: url(../images/download_button.png) no-repeat;
    display: block;
    color: #0d0707;
    font-size: 18px;
    font-weight: bold;
    float: right;
    height: 42px;
    margin: 8px 8px 0 0;
    padding: 22px 0 0 72px;
    width: 172px;
}

#download a:hover {
    color: #fff;
}

/* ----- Home Mid Content Styling ----- */

/* ----- Portfolio Content Styling ----- */

#portfolio_area {
    background: url(../images/banner_shadow.png) repeat-x;
    border-top: 1px solid #d9d9d9;
    padding-top: 38px;
}

#portfolio {
    background: url(../images/paintbrush_icon.png) no-repeat;
    font-size: 15px;
    font-weight: bold;
    height: 19px;
    margin-bottom: 12px;
    padding: 6px 0 0 40px;
}

#portfolio_menu {
    border-bottom: 1px solid #dfe1e5;
    border-top: 1px solid #dfe1e5;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

#portfolio_menu ul {
    padding: 20px 0;
}

#portfolio_menu li, #portfolio_list li {
    float: left;
}

#portfolio_menu li {
    margin-right: 2px;
}

#portfolio_menu a {
    color: #000;
    font-size: 14px;
    padding: 7px 18px;
}

#portfolio_menu a:hover {
    background: #960089;
}

.portfolio_menu_current {
    background: #960089;
}

#portfolio_list {
    height: 760px;
}

#portfolio_list li {
    margin: 15px 15px;
}

#portfolio_pagination {
    border-top: 1px solid #dfe1e5;
    clear: left;
    margin-top: 30px;
    padding: 25px 0;
}

#portfolio_pagination ul {
    margin: auto;
    width: 233px;
}

#portfolio_pagination li {
    float: left;
    margin: 0 2px;
}

#portfolio_pagination a {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 6px 9px;
}

#portfolio_pagination a:hover {
    background: #960089;
}

a#pagination_next, a#pagination_end {
    background: #e8ebf1;
}

a#pagination_next:hover, a#pagination_end:hover {
    background: #bfc1c6;
}

#pagination_end {
    margin-left: 22px;
}

.pagination_current {
    background: #960089;
}

/* ----- Portfolio Content Styling ----- */

/* ----- Contact Content Styling ----- */

#contact_area {
   background: url(../images/banner_shadow.png) repeat-x;
    border-top: 1px solid #ffffff;
    padding: 38px;
    padding-bottom: 40px;
}

#contact {
    background: url(../images/envelope_icon.png) no-repeat;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
    margin: 6px 0 17px 0;
    padding: 2px 0 0 40px;
}

#contact_info {
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}

#contact_info_left {
    float: left;
    margin: 27px 0 33px 0;
    width: 574px;
}

#contact_info p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

#contact_info_left p a:hover {
    text-decoration: underline;
}

#contact_info_right {
    float: right;
    margin-top: 30px;
}

#location_map {
    background: #e8fcfe;
    border: 1px solid #960089;
    margin: 0 20px 36px 0;
    padding: 20px;
}

#location_map h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

#location_map img {
    border: 5px solid #fff;
}

#address h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

#address p {
    color: #363636;
}

/* ----- Contact Content Styling ----- */

/* ----- Form Styling ----- */

#contact_form {
    width: 480px;
}
	 
#contact_form li {
    font-size: 14px;
    padding: 2px 0;
}
	 
#contact_form label {
    display: block;
    margin: 12px 0;
}
         
#contact_form input {
    height: 35px;
}

#contact_form input:focus, #contact_form textarea:focus {
    border: 1px solid #960089;
}

#contact_form input, #contact_form textarea {
    border: 1px solid #b4bac5;
}

#contact_form input[type="submit"] {
    background: url(../images/submit_button.png) no-repeat;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 64px;
    margin-top: 20px;
    padding: 0 0 6px 30px;
    width: 160px;
}

#contact_form input[type="submit"]:hover {
    color: #fff;
}

/* ----- Form Styling ----- */

/* ----- Footer Styling ----- */

#footer {
    background: #bfc1c6;
    border-top: 1px solid #bfc1c6;
    clear: both;
    height: 320px;
    margin-top: 40px;
}

#footer p, #footer a {
    color: #363636;
    font-size: 14px;
}

#footer h4 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 21px 0;
    color: #960089;
}

.footer_info {
    float: left;
    margin: 32px 0 40px 0;
}

#footer_about, #footer_explore, #footer_browse {
    margin-right: 64px;
}

#footer_about {
    padding: 12px;
    background-color: #c9c1d1;
    width: 250px;
}

#footer_about p, #footer_contact p {
    line-height: 17px;
}

#footer_browse{
    padding: 12px;
    background-color: #c9c1d1;
}

#footer_explore li, #footer_browse li {
    margin: 12px 0;
}

#footer_explore li a, #footer_browse li a {
    text-transform: capitalize;
}

#footer_explore li a:hover, #footer_browse li a:hover {
    color: #2aacc8;
}

#footer_explore{
    background-color: #c9c1d1;
    padding: 12px;
}

#footer_contact{
    padding: 12px;
    background-color: #c9c1d1;
}

#footer_connect {
    float: right;
    width: 213px;
}

#footer_connect h4 {
    margin-left: 24px;
}

#footer_connect a {
    display: block;
    float: left;
    height: 51px;
    margin: 0 0 10px 18px;
    text-indent: -9999px;
    width: 53px;
}

#facebook {
    background: url(../images/facebook_icon.png) no-repeat;
}



